.header {
  background-color: red;
  height: 20vh;
  width: 95vw;
  position: relative;
}
.nav {
  background-color: blue;
  height: 60vh;
  width: 10vw:
  top: 20px;
  postion: relative;
}
.contents {
  background-color: green;
}
